* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fontelexia';
}

@font-face {
    font-family: 'fontelexia';
    src: url(../assets/Pixel\ Digivolve.otf) format(opentype);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
}

.dark-theme {
    background-image: url('../assets/fundos-site/fundo_escuro_g.png');
    color: white;
    text-align: justify;
    text-shadow: 
    -5px -3px 0 rgb(0, 0, 0), /*esquerdo em cima*/
    5px -3px 0 rgb(0, 0, 0),/*direito em cima*/
    -5px 3px 0 rgb(0, 0, 0),/*esquerdo em baixo*/
    5px 3px 0 rgb(0, 0, 0);/*direito em baixo*/
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background-color: #1e1935;
}

.logo img {
    height: 40px;
    width: 30PX;
}

.site-name {
    flex-grow: 1;
    text-align: center;
}

.site-name h1 {
    font-size: unset;
    color: #ffffff;
}

.log-bnt img {
    min-height: 30px; 
    max-height:50px; 
    cursor: pointer;
    transition: transform 0.5s ease;
    border-radius: 50%;
}

.log-bnt img:hover {
    transform: scale(1.1);
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

#volta{

    display: flex;
    flex-flow: nowrap;
    position:absolute;
    top: 75px;
    left: 40px;
    height: 75px;
    width: 125px;

}

#setaimg{
    height: 100px;
    width: 100px;
    transition:  0.5s ease;

}
#setaimg:hover {
    scale: 1.2;
}


#container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    flex-direction: column;
}

#pergunta {
    min-height: 300px;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/tabua_2.png);
    background-size: 750px;
    background-position: top ;
    background-repeat: no-repeat;
    gap:20px;
}

#pergunta label{
    margin-top: 30px;
    font-size: unset;
    text-shadow: 
    -1px -1px 5px rgb(38, 0, 255), /*esquerdo em cima*/
    1px  -1px 5px rgb(38, 0, 255),/*direito em cima*/
    -1px 1px 5px rgb(38, 0, 255),/*esquerdo em baixo*/
    1px 1px 5px rgb(38, 0, 255);/*direito em baixo*/
}

#pergunta input{
    border-radius: 10px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 675px;
    font-size: unset;
    text-align: center;
}

#btn-confirm{
    width: 400px;
    min-height: 50px;
    font-size: unset;
}

#resposta{
    border: 2px solid black;
    min-width:750px;
    min-height: 500px;
    background-color: rgba(255, 255, 255, 0.247);
    border-radius: 30px;
    text-align: left;
}

#resposta p{
    font-size: unset;
    line-height: 30px;
}

#titulo{
    text-align: center;
    text-decoration:underline;
    text-shadow: 
    -1px -1px 5px rgb(38, 0, 255), /*esquerdo em cima*/
    1px  -1px 5px rgb(38, 0, 255),/*direito em cima*/
    -1px 1px 5px rgb(38, 0, 255),/*esquerdo em baixo*/
    1px 1px 5px rgb(38, 0, 255);/*direito em baixo*/
    
}