* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
}

.light-theme {
    background-image: url('../assests/fundo_claro_g.png'); /* Substitua pelo caminho da sua imagem de fundo claro*/
    color: black;
}

.dark-theme {
    background-image: url('../assests/fundo_escuro_g.png'); /* Substitua pelo caminho da sua imagem de fundo escuro*/
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background-color: #432651;
    border-bottom: 2px solid #e9ecef;
}

.logo img {
    height: 40px;
    width: 30PX;
}

.site-name {
    flex-grow: 1;
    text-align: center;
}

.site-name h1 {
    font-size: 24px;
    color: #ffffff;
}



.log-bnt img {
    height: 25px; 
    cursor: pointer;
    transition: transform 0.5s ease;
}

.log-bnt img:hover {
    transform: scale(1.1);
}

.game-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.left-list, .right-list {
    display: flex;
    flex-direction: column;
}

.word {
    padding: 10px;
    margin: 5px;
    border: 2px solid #000;
    cursor: pointer;
    user-select: none;
    height: 45px;
    width: 75px;
    text-align: center;
    align-content: center;
    border-radius: 15px;
    background-color: #fff;
}

.word.selected {
    background-color: rgba(0, 0, 255, 0.781);
    color: #fff;
}

.word.error {
    animation: errorBlink 0.5s;
}

.word.correct{
    animation: certoBlink 0.5s;
}

@keyframes errorBlink {
    0%, 100% { background-color: #f00; color: #fff; }
    50% { background-color: #fff; color: #f00; }
}

@keyframes certoBlink {
    0%, 100% { background-color: #17ff22; color: #110f0f; }
    50% { background-color: #fff; color: #110f0f; }
}

#score{
    height: 30px;
    width: 200px;
    border: 1px solid white;
    padding: 50px;
    display: flex;
    color: #fff;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 850px;
}