/* Estilos gerais do CSS que você já tem */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
}

.light-theme {
    background-image: url('../assests/fundo_claro_g.png'); /* Substitua pelo caminho da sua imagem de fundo claro*/
    color: black;
}

.dark-theme {
    background-image: url('../assests/fundo_escuro_g.png'); /* Substitua pelo caminho da sua imagem de fundo escuro*/
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background-color: #432651;
    border-bottom: 2px solid #e9ecef;
}

.logo img {
    height: 40px;
    width: 30PX;
}

.site-name {
    flex-grow: 1;
    text-align: center;
}

.site-name h1 {
    font-size: 24px;
    color: #ffffff;
}

main{
    display: flex;
    flex-flow: column wrap;
}

 .switch-container {
    margin-top: 5px;
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.switch-label {
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    margin-top: 50px;
    margin: 50px auto 10px;
    position: absolute;
    width: 150px;
    height: 30px;
    background: #E0E0E0;
    border-radius: 26px;
    overflow: hidden;
    text-align: center;
    line-height: 30px;
    user-select: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.switch-label:before{
    content: attr(data-off);
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
   
}

.switch-label:after {
    content: attr(data-on);
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    top: 50%;
    left: 70px;
    transform: translateY(-50%);
   
}

.switch-label:before {
    left: 10px; 
}

.switch-label:after {
    left: 78px; 
}

.switch-indicator {
    position: relative;
    display: flex;
    top: 35px;
    left: 50vh;
    transform: translateY(-50%);
    width: 70px;
    height: 30px;
    background: #ffffffc0;
    border-radius: 26px;
    transition: left 0.3s ease;
    margin-left: auto;
}
.switch-container input[type="checkbox"] {
    display: none;
}

.switch-container input[type="checkbox"]:checked + .switch-label + .switch-indicator {
    left: 78px; /* Posição da barra branca quando o switch está ativado */
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
    width: 500px;
    max-width: 100%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    border: 1px solid black;
}

.form-container form {
    display: block;
}

.form-container form.hidden {
    display: none;
}

.form-container h2 {
    margin-bottom: 20px;
}

.inserir-campo {
    margin-bottom: 20px;
    text-align: left;
}

.inserir-campo:last-child {
    margin-bottom: 0;
}

.inserir-campo input[type="email"],
.inserir-campo input[type="text"],
.inserir-campo input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.inserir-campo input[type="password"].show-password {
    width: calc(100% - 50px);
}

.alternar-senha {
    cursor: pointer;
    position: relative;
    transform: translateY(-50%);
}

#imagem-alternar-login{
    height: 30px;
    width: 30px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
