* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fontelexia';
}

@font-face {
    font-family: 'fontelexia';
    src: url(../assets/Pixel\ Digivolve.otf) format(opentype);
}

body {
    font-family: Arial, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
}

.dark-theme {
    background-image: url('../assets/fundos-site/fundo_escuro_g.png');
    color: white;
    text-align: justify;
    text-shadow: 
    -5px -3px 0 rgb(0, 0, 0), /*esquerdo em cima*/
    5px -3px 0 rgb(0, 0, 0),/*direito em cima*/
    -5px 3px 0 rgb(0, 0, 0),/*esquerdo em baixo*/
    5px 3px 0 rgb(0, 0, 0);/*direito em baixo*/
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background-color: #1e1935;
}

.logo img {
    height: 40px;
    width: 30PX;
}

.site-name {
    flex-grow: 1;
    text-align: center;
}

.site-name h1 {
    font-size: unset;
    color: #ffffff;
}



.log-bnt img {
    min-height: 30px; 
    max-height:50px; 
    cursor: pointer;
    transition: transform 0.5s ease;
    border-radius: 50%;
}

.log-bnt img:hover {
    transform: scale(1.1);
}

#volta{

    display: flex;
    flex-flow: nowrap;
    position:absolute;
    top: 75px;
    left: 40px;
    height: 75px;
    width: 125px;

}

#setaimg{
    height: 100px;
    width: 100px;
    transition:  0.5s ease;

}
#setaimg:hover {
    scale: 1.2;
}

.game-container {
    display: flex;
    margin-top: 120px;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
}

.left-list, .right-list {
    display: flex;
    flex-direction: column;
}

.word {
    font-size: xxx-large;
    padding: 10px;
    margin: 5px;
    border: 2px solid #000;
    cursor: pointer;
    user-select: none;
    height: 112px;
    width: 300px;
    text-align: center;
    align-content: center;
    border-radius: 15px;
    background-image: url(../assets/tabua_2.png);
    background-size: cover;
}

.word.selected {
    color: rgb(208, 255, 202);
    scale: 1.1;
}

.word.error {
    animation: errorBlink 1s;
}

.word.correct{
    animation: certoBlink 1s;
}

@keyframes errorBlink {
    0%, 100% {color: #fff; }
    50% {color: #f00; }
}

@keyframes certoBlink {
    0%, 100% {color: #ffffff; }
    50% {color: rgb(53, 255, 53);; }
}

#score{
    height: 30px;
    font-size: xxx-large;
    width: 200px;
    padding: 50px;
    display: flex;
    color: rgb(53, 255, 53);
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
}