* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fontelexia';

}

@font-face {
    font-family: 'fontelexia';
    src: url(../assets/Pixel\ Digivolve.otf) format(opentype);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
}



.dark-theme {
    background-image: url('../assets/fundos-site/fundo_escuro_g.png');
    text-align: justify;
    text-shadow: 
    -5px -3px 0 rgb(0, 0, 0), /*esquerdo em cima*/
    5px -3px 0 rgb(0, 0, 0),/*direito em cima*/
    -5px 3px 0 rgb(0, 0, 0),/*esquerdo em baixo*/
    5px 3px 0 rgb(0, 0, 0);/*direito em baixo*/
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background-color: #1e1935;
}

.logo img {
    height: 40px;
    width: 30PX;
}

.site-name {
    flex-grow: 1;
    text-align: center;
}

.site-name h1 {
    font-size: unset;
    color: #ffffff;
}

.log-bnt img {
    min-height: 30px; 
    max-height:50px; 
    cursor: pointer;
    transition: transform 0.5s ease;
    border-radius: 50%;
}

.log-bnt img:hover {
    transform: scale(1.1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-box {
    margin: 50px;
    width: 425px; /* Tamanho médio da div quadrada */
    height: 350px;
    margin-bottom: 20px; 
    display:flex;
    overflow: hidden;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/tabua_3.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#volta{

    display: flex;
    flex-flow: nowrap;
    position:absolute;
    top: 75px;
    left: 40px;
    height: 75px;
    width: 125px;

}

#setaimg{
    height: 100px;
    width: 100px;
    transition:  0.5s ease;

}
#setaimg:hover {
    scale: 1.2;
}

.image{
    max-width: 300px;
    max-height: 250px;
}

#opcoes_blc{
    margin: 40px;
    display: flex;
    width:650px;
    min-height: 200px;
    flex-wrap: wrap;
    gap: 25px; /* Espaçamento entre as opções */
    justify-content: center;
    transition: transform 0.5s ease;
}

.option:hover {
    transform: scale(1.1)
}


.opcao_btn {
    width: 300px; /* Largura das opções */
    min-height: 115px; /* Altura das opções */
    font-size: unset;

}

.image-btn {
    width: 120px; /* Largura dos botões */
    height: 40px; /* Altura dos botões */
    border: 2px solid #000;
    cursor: pointer;
    transition: transform 0.3s;
}

.image-btn:hover {
    transform: translateY(-5px); /* Levanta o botão quando o mouse está sobre ele */
}

.paragrafoAcertos, .contadorAcertos {
    margin-top: 25px ;
    display: inline-block;
    font-size: unset;
    color: rgb(53, 255, 53);
}

.contadorAcertos {
    margin-top: 75px;
    color: rgb(53, 255, 53);
}
