* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fontelexia';
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@font-face {
    font-family: 'fontelexia';
    src: url(../assets/Pixel\ Digivolve.otf) format(opentype);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background-color: #1e1935;
}

.logo img {
    height: 40px;
    width: 30px;
}

.site-name {
    flex-grow: 1;
    text-align: center;
}

.site-name h1 {
    font-size: unset;
    color: #ffffff;
}

.main-content {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
}

.container_perfil{    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 500px;
    gap: 100px;
    font-size: unset;
}

.container_opções {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 900px;
    margin: 20px;
    font-size: unset;
    justify-content: center;
}

.opc-btns{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px 20p;
    margin-top:40px;
}

.btn-opc, .btn-dif{
    width: 200px;
    height: 80px;
    border-radius: 5px;
    background-color: #c0bdbd;
    font-size: unset;
    
}


.dark-theme {
    background-image: url('../assets/fundos-site/fundo_escuro_g.png');
    color: white;
    text-align: justify;
    text-shadow: 
    -5px -3px 0 rgb(0, 0, 0), /*esquerdo em cima*/
    5px -3px 0 rgb(0, 0, 0),/*direito em cima*/
    -5px 3px 0 rgb(0, 0, 0),/*esquerdo em baixo*/
    5px 3px 0 rgb(0, 0, 0);/*direito em baixo*/
}

#volta{

    display: flex;
    flex-flow: nowrap;
    position:absolute;
    top: 75px;
    left: 40px;
    height: 75px;
    width: 125px;

}

#setaimg{
    height: 100px;
    width: 100px;
    transition:  0.5s ease;

}
#setaimg:hover {
    scale: 1.2;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;


    
}
/*div da foto grande de perfil */
.profile-picture {
    display: flex;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #cccccc88;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}
/*foto do perfil src*/
#perfil-pic{
    border-radius: 50%;
    width: 340px;
    height: 340px;
}

.fts-subnav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    float: center;
    overflow: hidden;
}

.subnav-cont {
  display: none;
  position:relative;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  width: 500px;
  z-index: 1;
}

.mini-ft{
    height: 60px;

}
.mini-ft img{
    width: 100%;
    height: 100%;
}

.subnav-cont button {
  float: right;
  color: white;
  text-decoration: none;
}

.subnav-cont button:hover {
  background-color: #eee;
  color: black;
}

.fts-subnav:hover .subnav-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*botao editar foto, salva alteração e salva configuração*/
.btn {
    
    margin: 10px;
    border: none;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    background-color: #008CBA;
    color: white;
    font-size: unset;
}
/*div troca de nome e botao de salva*/
.form-section {
    gap: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 750px;
    justify-content: center;
    align-items: center;

}
/*titulo troca de nome*/
.form-section label {
    margin-bottom: 5px;
    padding: 5px;
    text-shadow: 
    -1px -1px 5px rgb(38, 0, 255), /*esquerdo em cima*/
    1px  -1px 5px rgb(38, 0, 255),/*direito em cima*/
    -1px 1px 5px rgb(38, 0, 255),/*esquerdo em baixo*/
    1px 1px 5px rgb(38, 0, 255);/*direito em baixo*/
}
/*campo troca nome*/
.form-section input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 50px;
    width: 100%;
}

.other-options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.btn-logout {
    background-color: #f44336;
    color: white;
}

.btn-about {
    background-color: #008CBA;
    color: white;
}

.fundo-bonito{
    height: 270px;
    width: 600px;
    background-image: url(../assets/tabua_2.png);
    background-size: 650px;
    background-repeat: no-repeat;
    background-position:center;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
