.profile-selection {
    text-align: center;
}

.profile-images {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.profile-images img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: border-color 0.3s;
}

.profile-images img.selected {
    border-color: #007bff; /* Cor de destaque quando selecionada */
}
