* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Altere conforme necessário */
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background-color: #f8f9fa;
    border-bottom: 2px solid #e9ecef;
}

.logo img {
    height: 80px;
    width: 60px; /* Corrigi o tamanho das letras para 'px' */
}

.site-name {
    flex-grow: 1;
    text-align: center;
}

.site-name h1 {
    font-size: 24px;
    color: #343a40;
}

/* Login Form Styles */
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto; /* Adiciona margem para centralizar verticalmente e horizontalmente */
    width: 500px; /* Defina a largura desejada */
    max-width: 100%; /* Defina a largura máxima desejada */
    height: 500px;
    max-width: 100%;
}

h2 {
    margin-bottom: 20px;
}

.inserir-campo {
    margin-bottom: 50px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}