* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1.5px solid #e9ecef;
}

.logo img {
    height: 80px;
    width: 60px;
}

.site-name {
    flex-grow: 0.5;
    text-align: center;
}

.site-name h1 {
    font-size: 24px;
    color: #343a40;
    text-align: center;
}

.log-bnt img {
    height: 25px; /* Ajuste conforme necessário */
    cursor: pointer;
    transition: transform 0.5s ease;
}

.log-bnt img:hover {
    transform: scale(1.1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-box {
    margin: 100px;
    width: 300px; /* Tamanho médio da div quadrada */
    height: 300px;
    border: 2px solid #000; /* Borda de 2px */
    margin-bottom: 20px; /* Espaço entre a div principal e as opções */
    display:flex;
    overflow: hidden;       
    ;
}

#opcoes_blc{
    margin: 40px;
    display: flex;
    width:450px;
    height: 200px;
    flex-wrap: wrap;
    gap: 25px; /* Espaçamento entre as opções */
    justify-content: center;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.option:hover {
    transform: scale(1.1)
}

.opcao_btn {
    width: 180px; /* Largura das opções */
    height: 90px; /* Altura das opções */
    border: 2px solid #000;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

.image-btn {
    width: 120px; /* Largura dos botões */
    height: 40px; /* Altura dos botões */
    border: 2px solid #000;
    background-color: #fff;
    cursor: pointer;
    transition: transform 0.3s;
}

.image-btn:hover {
    transform: translateY(-5px); /* Levanta o botão quando o mouse está sobre ele */
}
